
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');


body{
    background-color: black;
    padding: 0%;
    margin: 0%;
    
}



.navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    margin-left: -15px;
    
  }
.navbar-brand{
    font-family: Kaushan Script;
    font-size: 40px;
    margin-left: calc(80%  / 2);
    margin-top: 10PX;
    
    
    
    
    
}

.navbar-nav{
      
    margin-top: 15px;
    position: fixed;
    width:100%;
    background-color:black;
    margin-left: -15px;
    padding: 15px;
    
    
    
    
}
.custom-toggler .navbar-toggler-icon {
    background-color: rgb(56, 55, 55);
  }
  
section{
    padding-top: 120px;
    margin-top: 200px;
    margin-bottom: 200px;

   
    
}



.box-text{
   
    width: 500px;
    height: 500px;
    background-color: aliceblue;
}

.button{
  background-color: #3f3d3d; 
  border: none;
  color: white;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;


}

footer{

 width: auto;
  padding-left: auto;
  padding-right: auto;
  margin-left:auto;
  
}
